<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals App</title>
    <%- include('./imports.ejs') %>
</head>
<body>

    <a class="home" href="/animals">Home</a>

    <h1><%= animal.species %></h1>

    <p class="info">Extinct: <%= animal.extinct %></p>
    <p class="info">Location: <%= animal.location %></p>
    <p class="info">Life Expectancy: <%= animal.lifeExpectancy %></p>

    <a href="/animals/<%=animal._id%>/edit"><button class="edit">Edit</button></a>

    <form method="POST" action="/animals/<%=animal._id%>?_method=DELETE">
        <input class="delete" type="submit" value="Delete Animal">
    </form>
    
</body>
</html>